# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Folders
build/
.vs/
.vscode/
trash/
/vendor/tracy/tracy/vcpkg/vcpkg
/vendor/tracy/tracy/vcpkg_installed

# Project files
data/cache.dat
data/test.dat
data/test.nam
*.ods
*.pyc
data/ProfileTest.prof
*.log
*.ini
swizzle/engine_src/Version.cpp
data/engine.cfg
