[submodule "vendor/google-test/googletest-master"]
	path = vendor/google-test/googletest-master
	url = https://github.com/google/googletest.git
	branch = main
[submodule "vendor/glm/include"]
	path = vendor/glm/include
	url = https://github.com/g-truc/glm.git
	branch = master
[submodule "vendor/soloud/soloud"]
	path = vendor/soloud/soloud
	url = https://github.com/jarikomppa/soloud.git
[submodule "vendor/imgui/imgui"]
	path = vendor/imgui/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "vendor/tracy/tracy"]
	path = vendor/tracy/tracy
	url = https://github.com/wolfpld/tracy.git
